html {
  background: url(../Assets/bookWall.jpg) no-repeat center center fixed;
  background-size: cover;
}
nav {
  display: flex;
  background: #969696;
  width: 60%;
  justify-content: space-around;
  margin: auto;
}
nav a {
  text-decoration: none;
  color: #c7c7c7;
  font-size: 1.5em;
  padding-top: 20px;
}
header {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  background: #969696;
  display: flex;
  flex-direction: column;
}
header p {
  height: 400px;
}
header button {
  width: 30%;
  margin: auto;
}
