.teamContent{
  margin: auto;
  width: 60%;

  .bookStack{
    margin: auto;
    .teamMember{
      
      .member-open {
        height: 400px;
      }

      #arshakBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 2.5%;
        padding-top: 0px;
        padding-bottom: 0px;
        //display: none;
        width: 88%;
        height: auto;
      }

      #joseBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 6.5%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 88%;
        height: auto;
      }

      #jordanBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1%;
        padding-top: 0px;
        padding-bottom: 0px;
        width:96%;
        height: auto;
      }

      #spencerBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 95%;
        height: auto;
      }

      #alexBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5.5%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 91%;
        height: auto;
      }

      #bradBook{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 8%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 92%;
        height: auto;
      }
  }
  }
}