header {
    background-image: url(/img/eli-francis-_M-DrbiNFa4-unsplash.jpg);
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    h1 {
        text-align: center;
        width: 100%;
    }
    .search-div {
        margin: 0 auto;
        display: flex;
        height: 40px;
        .header-search {
            width: 260px;
            padding: 10px 16px;
            font-size: 16px;
            border-radius: 6px;
        }
        .btn-lg {
            width: 60px;
            margin-left: 5px;
            font-size: 16px;
            border-radius: 6px;
            background-color: #7BB398;
        }
    }
    h3 {
        color: #ffffff;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    p {
        color: #ffffff;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
}