header {
    background-image: url(/img/eli-francis-_M-DrbiNFa4-unsplash.jpg);
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    h1 {
        color: #ffffff;
        text-align: center;
        width: 100%;
    }
    h2 {
        color: #ffffff;
        text-align: center;
        margin: 0 auto;
        width: 60%;
    }
    p {
        color: #ffffff;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
}