.landing-content {
    background-color: #2A304A;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    h3 {
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 2rem;
    }
    .science {
        width: 40%;
        height: 200px;
        color: #ffffff;
        border: 1px solid #ffffff;
        margin: 20px;
        padding: 20px;
        h4 {
            text-align: center;
        }
    }
    .technology {
        width: 40%;
        height: 200px;
        border: 1px solid #ffffff;
        background: #ffffff;
        margin: 20px;
        padding: 20px;
        h4 {
            text-align: center;
        }
    }
    .engineering {
        width: 40%;
        height: 200px;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        margin: 20px;
        padding: 20px;
        h4 {
            text-align: center;
        }
    }
    .mathematics {
        width: 40%;
        height: 200px;
        color: #ffffff;
        border: 1px solid #ffffff;
        margin: 20px;
        padding: 20px;
        h4 {
            text-align: center;
        }
    }
}